html {
    height: 100%;
}

body {
    font-family: 'trebuchet ms', arial, sans-serif;
    background: #FFF;
    color: #555;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.7em;
    text-align: justify;
    padding-bottom: 1px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222255;
    font-family: 'century gothic', arial, sans-serif;
    font-weight: normal;
}

h4, h5, h6 {
    color: #666;
    text-transform: uppercase;
}

a, a:hover {
    outline: none;
    text-decoration: underline;
    color: #222255;
}

a:hover {
    text-decoration: none;
}

/* blockquote {
    margin: 20px 0;
    padding: 10px 20px 0 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
} */

/* .left {
    float: left;
    width: auto;
    margin-right: 10px;
}

.right {
    float: right;
    width: auto;
    margin-left: 10px;
}

.center {
    display: block;
    text-align: center;
    margin: 20px auto;
} */

#header {
    background: #00001d;
    border-bottom: 1px solid #00001d;
    height: 186px;
}

#logo {
    position: relative;
    height: 140px;
}

#logo #logo_text {
    position: absolute;
    top: 10px;
    left: 40px;
}

#logo h1, #logo h3 {
    margin: 0 0 0 9px;
}

#logo_text h1 {
    padding: 22px 0 0 0;
    letter-spacing: 0.1em;
}

#logo_text h1 a, #logo_text h1 a:hover {
    font-size: 1.25em;
    color: #FFF;
    text-decoration: none;
}

#logo_text h3 {
    padding: 4px 0 0 0;
    color: #e0e0ff;
}

#menubar {
    height: 45px;
    padding-right: 8px;
}

ul#menu {
    float: right;
    margin: 0;
    margin-top: 8px;
}

ul#menu li {
    float: left;
    list-style: none;
    margin-left: 8px;
    margin-right: 8px;
}

ul#menu li a {
    float: left;
    height: 20px;
    padding: 6px 20px 5px 20px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}

ul#menu li.selected a, ul#menu li.selected a:hover {
    background: #222245;
    color: #FFF;
}

ul#menu li a:hover {
    color: #e0e0ff;
}

#site_content {
    font-size: 0.9em;
    width: 880px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#site_content li {
    margin-bottom: 5px;
}

#content h1:not(:first-child), #content h2:not(:first-child), #content h3:not(:first-child) {
    margin-top: 30px;
}
#content h4, #content h5, #content h6 {
    margin-top: 20px;
}

#banner {
    background: transparent url(../images/banner.jpg) no-repeat;
    background-size: 100%;
    width: auto;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar {
    float: left;
    width: 200px;
    padding-top: 8px;
    margin-bottom: 20px;
}

.sidebar_item {
    padding-bottom: 10px;
}

#content {
    text-align: left;
    width: 660px;
    float: right;
    margin-bottom: 20px;
}

/* #footer {
    width: 100%;
    font-family: 'trebuchet ms', sans-serif;
    font-size: 100%;
    height: 80px;
    padding: 28px 0 5px 0;
    text-align: center;
    background: #000;
    border-top: 2px solid #2D2D2D;
    color: #FFF;
}

#footer p {
    line-height: 1.7em;
    padding: 0 0 10px 0;
}

#footer a {
    color: #FFF;
    text-decoration: none;
}

#footer a:hover {
    color: #B48A7C;
    text-decoration: none;
} */

/* .search {
    color: #5D5D5D;
    border: 1px solid #BBB;
    width: 134px;
    padding: 4px;
    font: 100% arial, sans-serif;
} */

/* .form_settings {
    margin: 15px 0 0 0;
}

.form_settings p {
    padding: 0 0 4px 0;
}

.form_settings span {
    float: left;
    width: 200px;
    text-align: left;
}

.form_settings input, .form_settings textarea {
    padding: 5px;
    width: 299px;
    font: 100% arial;
    border: 1px solid #E5E5DB;
    background: #FFF;
    color: #47433F;
}

.form_settings .submit {
    font: 100% arial;
    border: 0;
    width: 99px;
    margin: 0 0 0 212px;
    height: 33px;
    padding: 2px 0 3px 0;
    cursor: pointer;
    background: #3B3B3B;
    color: #FFF;
}

.form_settings textarea, .form_settings select {
    font: 100% arial;
    width: 299px;
}

.form_settings select {
    width: 310px;
}

.form_settings .checkbox {
    margin: 4px 0;
    padding: 0;
    width: 14px;
    border: 0;
    background: none;
} */

/* .separator {
    width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #FFF;
    margin: 0 0 20px 0;
} */

/* table {
    margin: 10px 0 30px 0;
}

table tr th, table tr td {
    background: #3B3B3B;
    color: #FFF;
    padding: 7px 4px;
    text-align: left;
}

table tr td {
    background: #E5E5DB;
    color: #47433F;
    border-top: 1px solid #FFF;
} */

.timeline-container {
    max-width: 700px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.timeline-container::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 3px;
    height: 100%;
    background: #00001d;
    transform: translateX(-50%);
    border-radius: 5px;
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.timeline-item:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline-content {
    background: rgb(211, 207, 207);
    padding: 10px 25px;
    width: 40%;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    position: relative;
    z-index: 1;
}

.timeline-content:hover {
    transform: translateY(-8px);
}

.timeline-content h3 {
    margin: 0!important;
}

.timeline-content p {
    margin: 4px 0 0 0;
}

.timeline-circle {
    width: 12px;
    height: 12px;
    background: #00001d;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

.timeline-circle:hover {
    width: 16px;
    height: 16px;
    background: #0056b3;
}

.comment {
    display: block;
    width: fit-content;
    padding: 5px;
    line-height: 1.7em;
    text-align: justify;
    background: #ffc107;
    color: #000;
}